@font-face {
    font-family: 'Lato Regular';
    src: url('../static/fonts/Lato-Regular.ttf') format('ttf'),
    url('../static/fonts/Lato-Regular.ttf') format('ttf');
}

:root {
    --text-regular: 1.2rem/1.2 'Lato Regular';
    --text-regular-small: 0.9rem/1.2 'Lato Regular';
    --text-regular-tiny: 0.7rem/1.2 'Lato Regular';
}
