html {
    -webkit-text-size-adjust: 100%;
    height: 100%;
    font: var(--text-regular);
    color: var(--color-white);
}

body {
    margin: 0;
    height: 100%;
    background-color: var(--color-gray-dark);
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font: inherit;
}

button {
    box-shadow: none;
    border: none;
    background-color: var(--color-none);
    text-transform: none;
    outline: 0;
    cursor: pointer;
    font: inherit;
    letter-spacing: inherit;

    &:disabled {
        cursor: default;
    }
}

.leaflet-popup-content-wrapper{
    width: 800px;
    height: 800px;
    border-radius: 50%;
    position: relative;
}

.leaflet-popup-content{
    width: 100% !important;
    height: 100% !important;
    margin:0;
    padding:0;
    border-radius: 50%;
    display: table;
    text-align: center;
}

.leaflet-popup-content div {
    width: 48px;
    height: 48px;
    display: table-cell;
    vertical-align: middle;
    border-radius: 50%;

}

.leaflet-popup-tip-container{
    visibility: hidden;
}

.avatar-box {

    &:hover {
        z-index: 9999999999 !important;
    }

    .avatar {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 2px solid var(--color-red);
    }

    .message {
        position: absolute;
        right: -10px;
        top: 24px;
        transform: translateX(100%) translateY(-50%);
        background-color: var(--color-gray);
        padding: 15px;
        border-radius: 10px;
        font: var(--text-regular-small);
        min-width: 190px;
        box-shadow: 0 3px 12px 0 rgba(38, 47, 54, 0.5);

        @media screen and (max-width: 667px) {
            font: var(--text-regular-tiny);
        }
    }
}

.cluster {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    font: var(--text-regular-small);
    border: 2px solid var(--color-blue);

    &.cluster-s {
        background-color: var(--color-cluster-s);
    }

    &.cluster-m {
        background-color: var(--color-cluster-m);
    }

    &.cluster-l {
        background-color: var(--color-cluster-l);
    }
}
