.header {
    background-color: var(--color-gray);
    padding: 15px 25px;
    height: 64px;
    display: flex;
    align-items: center;
    position: relative;

    .link {
        outline: none;
        color: var(--color-blue);
        transition: 0.15s color linear, 0.2s opacity linear;
        opacity: 0;
        margin-right: 39px;
        line-height: 1.4;

        &.link-visible {
            opacity: 1;
        }

        &:hover {
            color: var(--color-blue-light);
        }

        &:active {
            color: var(--color-blue-dark);
        }

        span {
            white-space: nowrap;
        }
    }

    .count {
        transition: opacity 0.2s linear;
        opacity: 0;
        position: absolute;

        &.count-visible {
            opacity: 1;
        }
    }
}
